.banner-footer {
    background: var(--title-footer-background);
}

.footer-flex {
    display: flex;
    gap: 90px;
}

.footer-address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 47px;
}

footer p {
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: var(--body-background-color);
    margin: 0;
}

.footer-city,
.footer-contact {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--body-background-color);
}

.footer-city {
    margin-top: 9px;
}

.footer-contact {
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--title-footer-background);
    text-decoration: none;
}

.social {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    gap: 20px;
}

.social-links {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 10px;

    a {
        display: flex;
        background-color: rgba(255, 255, 255, 0.1);
        width: 44px;
        height: 44px;
        border-radius: 50%;
    }

    .team-social-icon {
        fill: var(--body-background-color);
    }

    a:hover {
        background-color: var(--change-color);
    }
}

.footer-subs {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.footer-email {
    display: flex;
}

 .box-email {
     background-color: var(--title-footer-background);
     border: 1px solid rgba(255, 255, 255, 0.3);
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
     border-radius: 4px;
     width: 358px;
     color: var(--body-background-color);
     padding-left: 16px;
     font-weight: 400;
     font-size: 16px;
     line-height: 20px;
     letter-spacing: 3%;
 }

 .footer-button {
     display: flex;
     align-items: center;
     text-align: center;
     min-width: 200px;
     padding: 10px 45px;
     margin-left: 12px;
     border: 1px solid transparent;
     border-radius: 4px;
     color: var(--body-background-color);
     background-color: var(--change-color);
     border-color: var(--text-color);
     font-weight: 700;
     font-size: 16px;
     line-height: 30px;
     letter-spacing: 0.06em;
     cursor: pointer;
 }

 .footer-send {
     display: block;
     margin-left: 10px;
 }